<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    <bean class="ru.gosuslugi.smev.rev120315.MessageType" p:typeCode="GSRV" p:status="REQUEST" p:exchangeType="2" p:date-ref="currentDate" scope="prototype">
        <property name="sender">
            <bean class="ru.gosuslugi.smev.rev120315.OrgExternalType" p:code="PFRF01001" p:name="Пенсионный фонд РФ"/>
        </property>
        <property name="recipient">
            <bean class="ru.gosuslugi.smev.rev120315.OrgExternalType" p:code="PFRF01001" p:name="Пенсионный фонд РФ"/>
        </property>
        <property name="service">
            <bean class="ru.gosuslugi.smev.rev120315.ServiceType" p:mnemonic="SNILS_VALIDATION" p:version="1.00"/>
        </property>

    </bean>
</beans>